body{
    margin: 0;
    background-color:antiquewhite;
}

.container{
    display: flex;

}

canvas{
    height: 100vh;
    aspect-ratio: 1;
    border: 2px solid black;
    margin-right: 20px;
}

.tools-container{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    padding: 10px;
}

#hidden-text{
    position: absolute;
    left: 0%;
    bottom: 0;
    padding: 20px;
    display: none;

}

#help{
    height: 100vh;
    overflow-y: scroll;
    display: none;
}