body{
    margin: 0;
}

.container{
    display: flex;

}

canvas{
    height: 100vh;
    aspect-ratio: 1;
    border: 2px solid black;
}

.tools-container{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
}